pytorch-lightning==2.0.3
transformers==4.30.2
lightning-transformers==0.2.5
scikit-learn==1.1.2
pandas==1.4.4
tqdm==4.65.0
fastapi==0.97.0
unicorn==1.0.3
uvloop==0.17.0
httptools==0.1.2
kaggle==1.5.13